.row {
    display: flex;
    margin-inline: calc(var(--grid-gutter) * -0.5);
}

.row > * {
    flex-shrink: 0;
    inline-size: 100%;
    max-inline-size: 100%;
    padding-inline: calc(var(--grid-gutter) * 0.5);
}

.col-4 {
    inline-size: calc((100% / 12)  * 4);
}

.col-7 {
    inline-size: calc((100% / 12) * 7);
}
