body {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: #F8F9FA;
}

h1 {
    font-size: 2.75rem;
    line-height: 1;
    font-weight: 700;
}

