@use '../abstracts' as *;

.grid-4-col {

    @media #{$break2open} {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
        gap: var(--grid-gutter);
    }
    
}

.main-results-grid {
    display: grid;
    grid-template-areas: 
    "h h h h  h h h h  h h h h"
    "a m m m  m m m m  m m . ."
    "a m m m  m m m m  m m . .";
}

.main-results-grid #main-header {
    grid-area: h;
}
.main-results-grid #main-aside {
    grid-area: a;
    padding-block-start: 5rem;
    border-inline-end: 1px solid #CED4DA;

    @media #{$break1} { padding-inline: .9375rem; }
    @media #{$break2open} { padding-inline: 2rem; }
}
.main-results-grid #main-content {
    grid-area: m;
    margin-inline: var(--grid-gutter);
}
