@use '../abstracts' as *;

.grid-4-col {

    @media #{$break2open} {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
        gap: var(--grid-gutter);
    }
    
}