@use '../abstracts' as *;

#main-header {
    background-color: #F8F9FA;
    z-index: 1;
    position: sticky;
    top: 0;
}

#main-header[data-scroll="true"] {
    --p-header-box-shadow: hsla(210, 11%, 15%, 0.1);

    box-shadow: 1px 2px 4px 0px var(--p-header-box-shadow);
    -webkit-box-shadow: 1px 2px 4px 0px var(--p-header-box-shadow);
    -moz-box-shadow: 1px 2px 4px 0px var(--p-header-box-shadow);
}

.nav {
    display: flex;
    gap: 1.5rem;
    padding-block: 0.9375rem;

    @media #{$break1} { 
        padding-inline: .9375rem;
        gap: 0.75rem;
    }
    @media #{$break2open} {
        padding-inline: 2rem;
        gap: 0.5rem;
    }
}

.nav-tools {
    display: flex;
    gap: 3rem;
    align-items: center;
    flex-grow: 1;
    max-inline-size: 100%;

    @media #{$break1} { gap: 0.5rem; }
    @media #{$break2open} { gap: 3rem; }
}

.search-bar {
    background-color: #E9ECEF;
    border-radius: var(--border-radius-round);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-inline: 0.75rem;
    inline-size: 100%;
}


.search-btn {
    color: #6C757D;

    &:where(:is(:hover, :focus-visible)) {
        color: #212529;
    }
}

